/*     ●▬▬▬▬▬▬▬▬▬▬▬▬▬ஜ۩۞۩ஜ▬▬▬▬▬▬▬▬▬▬▬▬▬●
  ‎‎‎‎‎‎‎‎░░░░░░░░░░░░░░░ДОБРО ПОЖАЛОВАТЬ ░░░░░░░░░░░░░░
‎‎‎‎‎‎‎‎‎‎‎‎       ●▬▬▬▬▬▬▬▬▬▬▬▬▬ஜ۩۞۩ஜ▬▬▬▬▬▬▬▬▬▬▬▬▬●
 */
.wrapper {
  background: #0B1D26 url("images/background.jpg") 0 0 no-repeat;
  color: white;
  max-width: 1920px;
  min-height: 2000px;
  padding: 64px 80px 120px 80px;
}

.gradient {
  background: linear-gradient(0deg, rgba(11,29,38,1) 29%, rgba(11,29,38,0) 62%);
  position: absolute;
  height: 1890px;
  width: 100%;
}

.inner-content {
  position: relative;
}

body {
  background-color: #354147;
  margin: 0;
}

.main-header {
  display: flex;
  justify-content: space-between;
}

.main-header .navigation ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header .navigation ul li {
  margin: 0 20px;
}

.main-header a {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: white;
  text-decoration: none;
}

.main-header .account a {
  display: block;
  background-image: url("images/cart.png");
  background-repeat: no-repeat;
  padding-left: 32px;
  line-height: 24px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
}

.hero .social {
  padding-top: 67px;
}

.hero .social .text {
  position: relative;
  top: -40px;
  left: -24px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: white;
  transform: rotate(90deg);
}

.hero .social a {
  margin-top: 24px;
  display: block;
}

.hero .navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero .navigation ul li {
  text-align: right;
  border-right: 3px solid rgba(255, 255, 255, 0.5);
  padding: 19px 32px 19px 0;
}

.hero .navigation ul li.active,
.hero .navigation ul li:hover {
  border-right-color: white;
}

.hero .navigation ul a {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: white;
  text-decoration: none;
}

.item {
  display: flex;
  justify-content: space-between;
  max-width: 1460px;
  margin: 200px auto 0 auto;
  padding: 0 150px;
}

.item.first {
  margin-top: 922px;
}

.item.right {
  flex-direction: row-reverse;
}

.item.right .text .number {
  left: 22px;
}

.item h4 {
  color: #FBD784;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: 'Noto Sans JP', sans-serif;
}

.item h4:before {
  content: "";
  width: 72px;
  height: 1px;
  display: inline-block;
  background-color: #FBD784;
  position: relative;
  top: -4px;
  margin-right: 10px;
}

.item h2 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 200;
  font-size: 43px;
}

.item img {
  max-width: 30%;
}

.item .text {
  position: relative;
  padding-top: 140px;
  padding-left: 150px;
  padding-right: 115px;
}

.item .text .number {
  position: absolute;
  top: 0;
  left: 0;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 240px;
  line-height: 240px;
  color: white;
  opacity: 0.1;
}

.item a.read-more {
  margin-top: 27px;
  display: block;
  color: #FBD784;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Noto Sans JP', sans-serif;
}

.item .read-more img {
  display: inline-block;
  position: relative;
  top: 4px;
  left: 15px;
}
.title h4 {
  color: #FBD784;
  text-transform: uppercase;
  word-spacing: 4px;
  letter-spacing: 3px;
  font-size: 18px;
  font-family: 'Noto Sans JP', sans-serif;
}
.title h4:before {
  content: "";
  width: 72px;
  height: 2px;
  display: inline-block;
  background-color: #FBD784;
  position: relative;
  top: -4px;
  margin-right: 20px;
}
h1 {
  font-family: 'Fraunces', serif;
  font-size: 88px;
  text-transform: capitalize;
  font-weight: 200;
  line-height: 100px;
  position: relative;
  top: 10px;
}
.title button {
  font-family: 'Lato', sans-serif;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  top: 32px;
  border: 0;
  background: 0;
  outline: none;
  color: white;
}
.title button:after {
  content: "";
  background-image: url(images/arrow_downward.png);
  display: inline-block;
  width: 16px;
  height: 24px;
  position: relative;
  left: 15px;
  top: 5px;
}
.text p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 100px;
  height: 280px;
  width: 1160px;
  margin: 0 auto;
}
.footer-mntn {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 280px;
  width: 347px;
}
.footer-mntn div {
  width: 303px;
  height: 126px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-mntn div img {
  height: 24px;
  width: 108px;
}
.p-get {
  position: relative;
  width: 303px;
  height: 64px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
}
.p-copy {
  font-family: 'Lato', sans-serif;
  color: #FFFFFF;
  opacity: 0.5;
}
.footer-nav {
  width: 425px;
  height: 280px;
  display: flex;
  justify-content: space-between;
}
.footer-nav1 {
  height: 280px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-nav2 {
  height: 184px;
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-nav-p {
  color: #FBD784;
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;
}
.footer-nav1 {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}
.footer-nav2 {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}
